# UCF file for the Posedge

# Clock and Reset pins
NET "CLOCK"       LOC = P50;   # 24MHz on-board clock
NET "RESET_N"     LOC = p133;  # active-low USER_PB button

# USB<->UART Pins
NET "UART_TX"           LOC = p104;  
NET "UART_RX"           LOC = p105;

# WING 3
NET "W3_8" LOC = P111;
NET "W3_7" LOC = P112;
NET "W3_6" LOC = P114;
